.cases {
    padding-bottom: 87px;
    &__item {
        padding: 20px;
        background-color: $grey;
        border-bottom: 2px solid $white;
    }
    &__item:first-child {
        border-radius: 12px 12px 0 0;
    }
    &__item:last-child {
        border-radius: 0 0 12px 12px;
    }
    &__item:hover {
        background-color: $bg-alt;
    }
    &__title {
        font-weight: normal;
        line-height: 21px;
        font-size: 18px;
        color: $alt-blue;
        padding-bottom: 14px;
        margin: 0;
    }
    &__subtitle {
        line-height: 21px;
        color: $text;
        padding-left: 2px;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    &_service {
        padding-top: 42px;
        padding-bottom: 41px;
    }
    @media (min-width: 992px) {
        &__box {
            display: flex;
            flex-wrap: wrap;
        }
        &__item {
            width: 50%;
            border-right: 2px solid $white;
        }
        &__item:first-child {
            border-radius: 12px 0 0 0;
        }
        &__item:nth-child(2) {
            border-radius: 0 12px 0 0;
        }
        &__item:nth-last-child(-n+2) {
            border-radius: 0 0 0 12px;
        }
        &__item:last-child {
            border-radius: 0 0 12px 0;
        }
        &_service {
            padding-top: 64px;
            padding-bottom: 43px;
        }
    }
    @media (min-width: 1200px) {
        padding-top: 68px;
        padding-bottom: 97px;
        &__box {
            display: flex;
            flex-wrap: wrap;
        }
        &__item {
            width: 33.333%;
            border-right: 2px solid $white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 17px 20px 21px;
        }
        &__item:first-child {
            border-radius: 12px 0 0 0;
        }
        &__item:nth-child(3) {
            border-radius: 0 12px 0 0;
        }
        &__item:nth-child(2) {
            border-radius: 0;
        }
        &__item:nth-last-child(-n+2) {
            border-radius: 0;
        }
        &__item:nth-last-child(3) {
            border-radius: 0 0 0 12px;
        }
        &__item:last-child {
            border-radius: 0 0 12px 0;
        }
        &__title {
            width: 300px;
            font-size: 24px;
            line-height: 28px;
            padding-bottom: 22px;
        }
        &__subtitle {
            align-self: flex-start;
        }
        &_service {
            padding-top: 64px;
            padding-bottom: 43px;
        }
    }
}
