.dots {
    display: flex;
    justify-content: center;
    padding-top: 19px;
    position: relative;
    left: 52%;
    transform: translateX(-50%);
    &__item {
        width: 16px;
        height: 16px;
        background: $active;
        border-radius: 50%;
        opacity: .2;
        margin-right: 14px;
    }
    &__item:hover {
        opacity: .6;
    }
    &__item-active {
        opacity: 1;
    }
}
