.phone {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $text;
    padding: 2px 3px 0 0;
    &:hover {
        color: $red;
    }
    @media (min-width: 767px) {
        position: relative;
        right: 96px;
        &::after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            top: 8px;
            right: -14px;
            border-radius: 50px;
            background-color: $separator;
        }
    }
    @media (min-width: 991px) {
        right: 25px;
        color: white;
    }
    &_blue {
        color: $main-blue;
        align-self: center;
    }
    &_grey {
        color: $text;
    }
}
