//colors
$main-blue: #323264;
$soft-blue: #46466e;
$alt-blue: #686887;
$active: #24a3ff;
$active-hover: #0085ff;
$active-active: #006ccf;
$grey: #f5f5fa;
$bg-alt: #ededf7;
$text: #b3b3ba;
$separator: #e6e6f0;
$red: #f0145a;
$white: #ffffff;
$black: #000000;


